openapi: 3.1.0
info:
  title: STACK API – Webhooks & System Endpoints (MVP v0.2 - Go/GraphQL Backend)
  version: 0.2.0
  description: |
    OpenAPI spec covering inbound webhooks and essential system endpoints
    for the STACK backend (implemented in Go, primary interface is GraphQL).
    Security for webhooks relies on signature verification.
    System endpoints may use JWT Bearer.
servers:
  - url: https://api.stack.app/v1
    description: Production
  - url: https://staging.api.stack.app/v1
    description: Staging
tags:
  - name: Webhooks
    description: Inbound webhooks from partners (Circle, DriveWealth, KYC)
  - name: System
    description: Health checks and administrative endpoints

paths:
  /health:
    get:
      tags: [System]
      summary: System Health Check
      operationId: getHealth
      responses:
        '200':
          description: System is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  status: { type: string, enum: [ok] }
                  timestamp: { type: string, format: date-time }
        '503':
          description: System is unhealthy (e.g., DB connection failed)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /webhooks/circle:
    post:
      tags: [Webhooks]
      summary: Inbound webhook from Circle (Deposits, Payouts, Payments, Transfers)
      description: Requires Circle signature verification middleware.
      operationId: handleCircleWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              # Note: Circle has multiple event types. This needs refinement
              # based on the actual subscription payloads.
              type: object
              properties:
                notificationType: { type: string } # e.g., 'payments', 'payouts', 'transfers', 'wallet'
                # ... other Circle specific fields based on notificationType
      responses:
        '200':
          description: Webhook acknowledged
        '400':
          description: Invalid payload or signature
        '500':
          description: Internal processing error

  /webhooks/drivewealth:
    post:
      tags: [Webhooks]
      summary: Inbound webhook from DriveWealth (Order Fills, Funding Confirmations, etc.)
      description: Requires DriveWealth signature verification middleware.
      operationId: handleDriveWealthWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              # Note: DriveWealth payload structure TBD based on API docs.
              type: object
              properties:
                eventType: { type: string } # e.g., 'FILL', 'ACCOUNT_FUNDED'
                # ... other DriveWealth specific fields
      responses:
        '200':
          description: Webhook acknowledged
        '400':
          description: Invalid payload or signature
        '500':
          description: Internal processing error

  /webhooks/kyc:
    post:
      tags: [Webhooks]
      summary: Inbound webhook from KYC Provider (Status Updates)
      description: Requires provider-specific signature verification.
      operationId: handleKYCWebhook
      requestBody:
        required: true
        content:
          application/json:
            schema:
              # Note: KYC provider payload structure TBD.
              type: object
              properties:
                userId: { type: string } # Our internal user ID or a correlation ID
                status: { type: string, enum: [approved, rejected, pending_review] }
                # ... other KYC provider specific fields
      responses:
        '200':
          description: Webhook acknowledged
        '400':
          description: Invalid payload or signature
        '500':
          description: Internal processing error

components:
  securitySchemes:
    bearerAuth: # For potential future admin endpoints
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Error:
      type: object
      required: [code, message]
      properties:
        code: { type: string, example: INTERNAL_SERVER_ERROR }
        message: { type: string }
        details: { type: object, additionalProperties: true }